<div class="row">
  <div class="col-md-10 col-md-offset-1"> 
 
<p id="notice"><%= notice %></p>

<h1 class="text-center">Exercise History</h1>
</br>
 
 </br>
 
<% @users.each do |user| %>
<ul class="list-group">
  <li class="list-group-item list-group-item-info"><%= user.exercise.date.strftime("%b %d %Y")%></li>
  <li class="list-group-item">Exercise Performed: <%= user.exercise.exercise %></li>
  <li class="list-group-item">Weight Used: <%= user.exercise.weight %> lbs.</li>
  <li class="list-group-item">Number of Reps Performed: <%= user.exercise.reps %> reps</li>
  <li class="list-group-item list-group-item-success">Your One Rep Max: <%= user.exercise.max %> lbs.</li>
  <li class="list-group-item">Workout Body Building Weight: <%= user.exercise.bulk %> lbs.</li>
  <li class="list-group-item">Workout Body Toning Weight: <%= user.exercise.tone %> lbs.</li>
  <li class="list-group-item">Delete Workout: <%= link_to 'Delete', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>
</br>
</br>
<%end%> 
 
<br>
  
<%= link_to 'New Exercise', new_exercise_path %>

<!--Google adwords-->
  <div class="row" id="ads">
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
					</script>
					<!-- OneRepMax -->
					<ins class="adsbygoogle"
						 style="display:block"
						 data-ad-client="ca-pub-0579466747730468"
						 data-ad-slot="5801665806"
						 data-ad-format="auto"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
	</div>
	
	
	
 
 

</div>
</div>